@charset "UTF-*";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #939196, #D3C1D2);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    width: 500px;
    padding: 10px;
    margin: auto;

}

h1 {
    color: #4a4b28;
    text-align: center;
    text-shadow: 1px 2px 2px #394032;
}

h2 {
    color: #837382;
}

p {
    text-align: justify;
}